body {
    padding: 2%;
    font-family: Akzidenz;
    font-size: 1.25rem;
    margin-right: 50;
    line-height: 1.4;
}
@font-face {
    font-family: "Akzidenz";
    src: url("akzidenzgroteskpro_regular.ttf") format("opentype");
    font-weight: heavy;
    font-style: normal;
    font-display: swap;
}


.bleedheading{
    color:aliceblue
    
}


#gall {
    align-items: center;
    align-content: center;
}

.para {
   font-size: 1.25rem;
   padding: 5%;
   
}

.inset{
scale: 50%;
}

.new {
    margin: 0;
  min-height: 100vh;
  background-image: url("https://freight.cargo.site/w/2000/q/75/i/9d4df106b54f3a5ee903faacb38e173b63ab555853cc5dea7d2181f93808cbe0/IMG_5244.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.conspiracy{
    margin: 0;
  min-height: 100vh;
  background-image: url("https://freight.cargo.site/w/2000/q/75/i/2e3e35c767cadca35d8046f07e40fa25d4a2043d429a513431a963faed1ed233/L1010272.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.riso{
    margin: 0;
  min-height: 100vh;
  background-image: url("https://freight.cargo.site/t/original/i/1399ffebb8d013011d2d92470c2c7ab37e0b0a2e66104024b102f6480723295d/img20230314_12353722.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}