body {
    padding: 2%;
    font-family: Akzidenz;
    font-size: 1.25rem;
    margin-right: 50;
    line-height: 1.4;
}
@font-face {
    font-family: "Akzidenz";
    src: url("akzidenzgroteskpro_regular.ttf") format("opentype");
    font-weight: heavy;
    font-style: normal;
    font-display: swap;
}

#gall {
    align-items: center;
    align-content: center;
}

.para {
   font-size: 3rem;
   padding: 5%;
   
}
